/build

#Android Studio Files
*.apk
*.ap_
*.aab
.idea/
*.iml
*.ipr
*.iws
.navigation/
captures/
bin/
gen/
out/

# Build files
.gradle/
build/
**/build/
buildSrc/.gradle/
gradle-app.setting

# Local config
local.properties

# Log Files
*.log

# MacOS files
.DS_Store
Thumbs.db

# Keystore files
*.jks
*.keystore
*.key

# Kotlin
*.class
*.dex
*.jar
*.war
*.ear
*.kotlin_module
**/compose-compiler/

# Firebase
google-services.json
GoogleService-Info.plist
fabric.properties
crashlytics.properties
firebase-performance.properties

# Misc
*.hprof
*.orig
obj/

# Jetpack
.kotlinc/